
.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #F59922;
  height: 80px;
  font-family: 'Roboto', sans-serif;
  font-size: 2vw;

  &__logo {
    margin-left: 5%;
    color: white;
    text-shadow: 
    -0   -2px 0   #000000,
    0   -2px 0   #000000,
    -0    2px 0   #000000,
    0    2px 0   #000000,
    -2px -0   0   #000000,
    2px -0   0   #000000,
    -2px  0   0   #000000,
    2px  0   0   #000000,
    -1px -2px 0   #000000,
    1px -2px 0   #000000,
    -1px  2px 0   #000000,
    1px  2px 0   #000000,
    -2px -1px 0   #000000,
    2px -1px 0   #000000,
    -2px  1px 0   #000000,
    2px  1px 0   #000000,
    -2px -2px 0   #000000,
    2px -2px 0   #000000,
    -2px  2px 0   #000000,
    2px  2px 0   #000000,
    -2px -2px 0   #000000,
    2px -2px 0   #000000,
    -2px  2px 0   #000000,
    2px  2px 0   #000000;
  }
}

.container {
  display: flex;
  padding: 2%;
  min-height: 1000px;
  font-family: 'Roboto', sans-serif;
}

.catalog {
  font-size: 1.2vw;

  &__list {
    margin-left: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  &__item {
    width: 27%;
    margin: 0 2%;
    list-style: none;
    flex-wrap: nowrap;
  }

  &__product {
    padding: 4%;
    height: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
    border: 1px solid #F59922;
    border-radius: 1%;
  }

  &__product:hover {
    box-shadow: 0px 0px 5px 3px rgb(150, 145, 140);  
  }

  &__product-photo-wrapper {
    width: 200px;
    margin-right: 5%;    
  }

  &__product-photo {
    width: 100%;
  }

  &__product-info {
    margin: 10% 0; 
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__product-link {
    text-decoration: none;    
  }

  &__button-wrapper {
    height: 15%;
    padding: 5%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  
}

.product {
  display: none;
  flex-direction: column;
  margin-left: 5%;
  font-size: 1.5vw;

  &__item {
    display: flex;
  }

  &__image-wrapper {
    width: 30%;
    padding: 5% 5% 5% 0;
  }

  &__image {
    width: 100%;
    border: 1px solid #F59922;;
  }

  &__info {
    width: 65%;
    padding-top: 5%;
  }

  &__gallery {
    display: flex;
  }

  &__gallery-image {
    margin: 3%;
    width: 15%;
    height: 15%;
  }

  &__buttons {
    display: flex;
  }

}

.sidebar {
  width: 28%;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5vw;
  
  &__form {
    display: flex;
    flex-direction: column;
  }

  &__search-input {
    width: 250px;
    height: 30px;
    border: 2px solid #F59922;
    border-radius: 5px;
  }

  &__dropdown-list {
    margin: 0;
    padding: 0;
    transition: 0.5s;
  }

  &__dropdown-selected {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__selected-image {
    width: 20px;
    height: 20px;
    background-image: url('../images/drop-arrow.png');
    background-size: contain; 
    background-repeat: no-repeat;
    background-position-y: 50%; 
    transform: rotate(180deg);
  } 

  &__dropdown-item {
    width: 90%;
    padding: 10px;
    color: white;
    background:  #F59922;
    border: 1px solid black;
    margin-top: -2px;
  }

  &__banner {
    width: 100%;
    border: 1px solid black;
  }
}

.button {
  margin: 10px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F59922;
  border-radius: 5%;
  cursor: pointer;
}

.hide {
  display: none;
}

.rotate {
  transform: rotate(360deg);
}

.to-cart {
  background-color:#00BC52; 
}

.footer {
  height: 70px;
  background-color: #F59922;
}

@media(max-width:760px) {
  .header {
    font-size: 5vw; 
  }

  .container {
    flex-direction: column;
  }

  .catalog {

    &__list {
      margin: 0;
      padding: 0 2.5%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &__item {
      width: 100%;
      margin: 0 0 5% 0;
    }

    &__product-info {
      font-size: 5vw;
    }

    &__button-wrapper {
      width: 100%;
    }

    &__to-cart-button {
      width: 40%;
      height: 40px;
    }
  }

  .product {
    &__item {
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    &__image-wrapper {
      width: 100%;
      padding-bottom: 0;
    }

    &__info {
      width: 100%;
      font-size: 5vw;
      display: flex;
      flex-direction: column;
    }

    &__gallery {
      order: -1;
      flex-wrap: wrap;
      justify-content: center;
    }

    &__gallery-image {
      width: 25%;
    }
    
  }

  .sidebar {
    width: 100%;
    font-size: 5vw;

    &__dropdown-wrapper {
      width: 90%;
    }

    &__banner {
      display: none;
    }
  }

  .button {
    width: 30%;
    height: 40px;
    font-size: 5vw;
  }
}